# Auto detect text files and perform LF normalization
* text=auto
class Math:
    def add(self, x, y):
        return x + y

    def subtract(self, x, y):
        return x - y

    def multiply(self, x, y):
        return x * y

    def divide(self, x, y):
        return x / y

    def exponentiate(self, x, y):
        return x ** y